<div class="fashioncontent">

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/41.jpeg">
        </div>
        <p class="fdcontent_pblack">Popular Cargos</p>
        <p class="fdcontent_pgreen">From &#x20B9;599</p>
        <p class="fdcontent_pgray">Best Collection</p>
    </div>
    
    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/42.jpeg">
        </div>
        <p class="fdcontent_pblack">Sparx, Paragon & more</p>
        <p class="fdcontent_pgreen">Under &#x20B9;649</p>
        <p class="fdcontent_pgray">Shoes, Sandals & more</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/43.jpeg">
        </div>
        <p class="fdcontent_pblack">Gowns & Lehenga Cholis</p>
        <p class="fdcontent_pgreen">under &#x20B9;299</p>
        <p class="fdcontent_pgray">Anarkali, Straight & more</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/44.jpg">
        </div>
        <p class="fdcontent_pblack">Grand Pearl Jewellery</p>
        <p class="fdcontent_pgreen">40-80% Off</p>
        <p class="fdcontent_pgray">Zaveri Pearls, Voylla & more</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/45.jpeg">
        </div>
        <p class="fdcontent_pblack">Chevit, Bata & more</p>
        <p class="fdcontent_pgreen">Under &#x20B9;699</p>
        <p class="fdcontent_pgray">Casual Shoes & more</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/46.jpeg">
        </div>
        <p class="fdcontent_pblack">Asian, Campus & more</p>
        <p class="fdcontent_pgreen">From &#x20B9;399</p>
        <p class="fdcontent_pgray">Running Shoes</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/47.jpeg">
        </div>
        <p class="fdcontent_pblack">Nike, Skechers & more</p>
        <p class="fdcontent_pgreen">Explore More!</p>
        <p class="fdcontent_pgray">Sports Footware</p>
    </div>

    <div class="fdcontent">
        <div class="fdcontent_img">
            <img src="assets/img/48.jpg">
        </div>
        <p class="fdcontent_pblack">Cool Cargos</p>
        <p class="fdcontent_pgreen">Upto 60% Off</p>
        <p class="fdcontent_pgray">Grab or Gone!</p>
    </div>
   
  
    
</div>