<div class="product">
  <app-nav></app-nav>
  <app-sub-header></app-sub-header>

  <div class="product_content">


    <h2>Mobile Phones</h2>
    <p class="ftwe">
      Mobile phones are no more merely a part of our lives. Whether it's to stay connected with friends and family
      or to keep abreast of important developments around the world, mobiles are no longer for sending a text or
      making a call. From budget to state-of-the-art smartphones; indigenous names to global big-wigs - a whole
      universe of mobiles await you on Flipkart. Whether you’re looking for waterdrop notch screens, a high screen
      to body ratio, AI-powered sensational cameras, high storage capacity, blazing quick processing engines or
      reflective glass designs, rest assured you won’t have to venture anywhere else for your smartphone needs.
      The information you are reading has been last updated on 10-Jan-21.
      <span class="cblue"> iPhone 12 Pro 512GB, iPhone 128GB, iPhone 64GB, Samsung A21s, Samsung A31, Samsung A51,
        Samsung A71, Oppo A31, Oppo F15, Oppo A12, Reno2 F, Vivo Y12, Vivo Y50, Vivo Y15</span>
    </p>

    <div class="row">
      <div class="col-3">
        <div class="card p-3">
          <h2 class="mb-0">Filters</h2>
          <hr>
          <p class="fbold">CATEGORIES</p>
          <p class="fbold cgray"> Mobile & Accessories</p>
          <p class="fbold">Mobiles</p>
          <hr>
          <p class="fbold">Price</p>
          <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="3000" max="100000"></mat-slider>
          <hr>
          <div class="mb-3">
            <span><input type="checkbox" class="mr-2">
              <img src="assets/img/assured.png" class="product_content_img"></span>
          </div>
          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  RAM
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">6 GB & Above</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">4 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">3 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">2 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">1 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">512 MB - 1 MB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Less than 512 MB</mat-checkbox>
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>

          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  BRAND
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-form-field appearance="legacy">
                    <mat-label>Search Brand</mat-label>
                    <input matInput placeholder="">
                  </mat-form-field>
                </p>
                <p>
                  <mat-checkbox class="example-margin">POCO</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Realme</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Infinix</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Motorola</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Samsung</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Mi</mat-checkbox>
                </p>
                <p class="cblue">316 MORE</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>


          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CUSTOMER RATINGS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">4 & above</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">3 & above</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">2 & above</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">1 & above</mat-checkbox>
                </p>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>


          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  INTERNAL STORAGE
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">4 & 256 GB & Above</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">128 - 255.9 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">64 - 127.9 GB</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">32 - 63.9 GB</mat-checkbox>
                </p>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>


          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  BATTERY CAPACITY
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">1000 - 1999 mAh</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">2000 -2999 mAh</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">3000 - 3999 mAh</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">4000 - 4999 mAh</mat-checkbox>
                </p>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>

          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  SCREEN TYPE
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">5.7 - 5.9 inch</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">5.5 - 5.6 inch</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">5.2 - 5.4 inch</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">5 - 5.1 inch</mat-checkbox>
                </p>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <hr>

          <mat-accordion class="product_content_expansion">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  OFFERS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <p>
                  <mat-checkbox class="example-margin">Exchange Offer</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">No Cost EMI</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox class="example-margin">Special Price</mat-checkbox>
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="col-9">
        <app-pro1h></app-pro1h>
        <app-pro2c></app-pro2c>
        <app-pro3></app-pro3>
        <app-pro4></app-pro4>
      </div>
    </div>
  </div>

  <div class="passage cgray">
    <p class="fbold"> Mobile Phones- Buy mobile phones online at best prices in India </p>
    Mobile phone, also called a cell phone owing to it using a cellular network architecture, have seen a tremendous
    growth
    in terms of technology and size over the years. On Flipkart, we have a diverse collection of iOS and Android mobiles
    ranging from basic mobiles, low-range and mid-range phones to very high-end smartphones that employ state-of-the art
    technology. These mobiles are priced anywhere between Rs 500 to Rs 100,000. Top mobile brands like Samsung, Oppo,
    Vivo,
    Apple and many more are available here under discounts. Apart with these, the latest trend in network connectivity,
    the
    4G network is also made accessible in 4G mobiles from top brands.
    <p class="fbold"> iPhone SE -2020 - Experience Power and Performance </p>
    When it comes to smartphones, Apple stands among the elite and produces high-end smartphones which not only look
    good
    but also perform great. Meet the iPhone SE 2020 which boasts of the powerful A13 Bionic chip, an amazing camera
    system,
    long-lasting battery, and a ton of innovative features. Let us dig deeper and see what makes the iPhone SE worthy of
    its
    name, shall we?
    <p class="fbold"> Click Stunning Selfies </p>
    The iPhone SE 2020’s amazing camera system, along with the powerful A13 Bionic chip, lets you click truly gorgeous
    pictures, and enables the Portrait Mode which artfully places the focus on your subject. You can now record videos
    in 4K
    and also use the QuickTake feature which lets you record videos in Photo Mode by just holding the shutter.
    <p class="fbold"> Stunning Design and Display </p>
    Whether it’s viewing the pictures that you clicked or watching your favourite shows on streaming apps, the iPhone
    SE’s
    brilliant 11.94-cm (4.7) Retina HD display provides the perfect canvas for an immersive viewing experience.
    Featuring a
    slim and lightweight design, this smartphone is also water-resistant for up to 1 metre for about 30 minutes.
    <span class="fbold"> What Features Does the iPhone SE Provide? </span>
    This smartphone comes with a ton of features that makes it stand out from the competition:
    <p class="fbold"> True Tone: This feature dynamically adjusts the balance to make your images look natural.
    </p>
    Haptic Touch: By pressing and holding an icon for shortcuts, the phone lets you feel a small vibration which makes
    you
    feel like pressing a real, physical button.
    <p class="fbold"> Augmented Reality: It lets you run the latest AR apps which can measure real-world objects map
      constellations. </p>
    Other features include faster Wi-Fi and mobile data provided by Wi-Fi 6 and 4G LTE Advanced, ensuring that you’ll
    never have to suffer slow download speeds. If you and your friend want to listen to the same playlist, you can do so
    by
    using the Audio Sharing feature which lets you connect two sets of AirPods or Beats headphones to the iPhone.
    Also, if you’re concerned about privacy, you can put your mind at ease as Apple products are designed to protect
    your privacy and give you control over your information.
    <p class="fbold"> Buy the iPhone SE Online </p>
    Armed with the above-mentioned information, you can now log on to your favourite shopping website, compare the new
    iPhone SE price, read reviews and buy the iPhone SE 2nd generation. It’s a phone that appeals to almost all kinds of
    demographic, from students, business professionals, artists, and more. So, what are you waiting for? The path to
    your
    dream smartphone is just a few clicks away. If you’re looking for a smartphone that looks gorgeous, performs great,
    and
    offers a plethora of innovative features, then the iPhone SE 2 is the one for you.
    <p class="fbold"> Samsung A21s </p>
    Sometimes, budget phones amaze us with the performance they pack. And, the A21s from Samsung is no exception. Can
    you
    think of another smartphone that costs between Rs 10,000 - 15,000 and rocks an octa-core processor, along with 4 GB
    of
    RAM? Take your time. We’ll wait. If you can’t think of another phone, then you should really consider buying this
    bad
    boy. And, if you are a student, or someone with a modest income, then you might want to give the Samsung A21s a
    shot.
    <p class="fbold"> Samsung A31 </p>
    Alright, you got the raise that you were looking for and now it’s time to splurge. It’s time to retire the old guard
    and
    get something new. But, if you aren’t ready to spend on high-end phones, try the Samsung A31. Yes, it has a great
    octa-core processor and tons of RAM, but what separates it from other phones in its class are the cool features,
    such as
    its 5000-mAh battery, FHD+ Super AMOLED display, and it’s 128 GB storage capacity, among other things.
    <p class="fbold"> Oppo A31 </p>
    Apart from featuring a high-quality 8 MP front camera and a 12 MP + 2 MP + 2 MP rear camera setup, the Oppo A31’s
    affordable cost is also an added benefit since you don’t have to shell out a huge sum of money to get the ideal
    smartphone. The MediaTek Helio P35 processor ensures that all your apps function seamlessly without any glitch. It
    also
    comes with a 4230 mAh battery which lasts for a long time, so you can stream movies, listen to music, play games,
    and
    more without worrying about running out of charge. What’s more, it comes with numerous features such as Portrait
    Bokeh,
    Dazzle Colour Mode, Secure Fingerprint Unlock to make your smartphone experience as engaging and innovative as
    possible.
    <p class="fbold"> Oppo F15 </p>
    If you’re looking for a stylish, budget smartphone with great performance, then the Oppo F15 is an ideal choice.
    Watch
    videos, play games, and use all your favourite apps with ease, thanks to its MediaTek Helio P70 processor. Its sleek
    design, its FHD+ AMOLED screen, Ultra Night Mode 2.0 In Display Fingerprint sensor are some of the few features that
    make the Oppo F15 a hit among everyone.
    <p class="fbold"> Say Hello to the Vivo Y12 </p>
    More often than not we spend a lot of time on our smartphones. And this would obviously drain its battery out,
    wouldn’t
    it? But when you have the Vivo Y12 phone with you, this wouldn’t be a problem. It is designed with a powerful 5000
  m
    battery and it comes equipped with different technologies that help save power. Some of the other enticing features
    that
    you can expect on this phone include its AI triple rear camera, Halo Full-view display, and the octa-core processor.
    This phone also comes with the Ultra Game mode that will help you have an immersive gaming experience.
    <p class="fbold"> Let’s Get to Know the Vivo Y50 </p>
    From delightful visuals to gorgeous photos, everything will seem like a possibility when you have the Vivo Y50
    smartphone. Featuring the FHD+ iView Display, you can be assured to be in for a wonderful visual treat. Oh, and
    what’s
    more, this phone comes with a 13 MP AI quad rear camera! Get set to capture stunning visuals the next time you go on
    a
    holiday. Not to forget, its elegant design with a layered texture is going to be attention-grabbing.
  </div>

  <app-footer></app-footer>
</div>

