<app-nav></app-nav>
<app-sub-header></app-sub-header>
<div class="container-fluid pb-2">
    <app-section1></app-section1>
    <app-section2></app-section2>
    <app-section3></app-section3>
    <app-ad1></app-ad1>
    <app-section4></app-section4>
    <app-section5></app-section5>
    <app-ad2></app-ad2>
    <app-section6></app-section6>
    <app-section7></app-section7> 
    <app-section8></app-section8>
    <app-section9></app-section9>
</div>
<app-bottom></app-bottom>
<app-footer></app-footer>

