<footer class="footer">
    <div class="footer_top">
        <div class="row">
            <div class="col">
                <h4>ABOUT</h4>
                <ul>
                    <li>Contact Us</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Flipkart Stories</li>
                    <li>Press</li>
                    <li>Flipkart Wholsale</li>
                </ul>
            </div>
            <div class="col">
                <h4>HELP</h4>
                <ul>
                    <li>Payments</li>
                    <li>Shipping</li>
                    <li>Cancellations & Returns</li>
                    <li>FAQ</li>
                    <li>Report Infringment</li>
                </ul>
            </div>
            <div class="col">
                <h4>POLICY</h4>
                <ul>
                    <li>Return Policy</li>
                    <li>Terms Of USe</li>
                    <li>Security</li>
                    <li>Privacy</li>
                    <li>Sitemap</li>
                    <li>EPR Compliance</li>
                </ul>
            </div>
            <div class="col border-right">
                <h4>SOCIAL</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="col">
                <h4>Mail Us:</h4>
                <ul>
                    <li>Flipkart Internet Private Limited,</li>
                    <li>Buildings Alyssa, Begonia &</li>
                    <li>Clove Embassy Tech Village,</li>
                    <li>Outer Ring Road, Devarabeesanahalli Village,</li>
                    <li>Bengaluru, 560103,</li>
                    <li>Karnataka, India</li>
                </ul>
            </div>
            <div class="col">
                <h4>Registered Office Address:</h4>
                <ul>
                    <li>Flipkart Internet Private Limited,</li>
                    <li>Buildings Alyssa, Begonia &</li>
                    <li>Clove Embassy Tech Village,</li>
                    <li>Outer Ring Road, Devarabeesananhalli Village,</li>
                    <li>Bengaluru, 560103,</li>
                    <li>Karnataka, India</li>
                    <li>CIN:U51109KA2012PTC066107</li>
                    <li>Telephone: 1800 202 9898</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer_bottom">
            <div class="footericon">
                <mat-icon>work</mat-icon> <span>Sell On Flipkart</span>
                <mat-icon>stars</mat-icon> <span>Advertise</span>
                <mat-icon>card_giftcard</mat-icon> <span>Gift Cards</span>
                <mat-icon>help</mat-icon> <span>Help Center</span>
                <span>&copy;2007-202 Flipkart.com</span>
            </div>
            <div class="footerimg">
                <img src="assets/img/pay1.png" alt="">
                <img src="assets/img/pay2.png" alt="">
                <img src="assets/img/pay3.png" alt="">
                <img src="assets/img/pay4.png" alt="">
                <img src="assets/img/pay5.png" alt="">
                <img src="assets/img/pay6.png" alt="">
                <img src="assets/img/pay7.png" alt="">
                <img src="assets/img/pay8.png" alt="">
                <img src="assets/img/pay9.png" alt="">
                <img src="assets/img/pay10.png" alt="">

            </div>
        </div>
</footer>