.dealscontent{
    overflow-x: hidden;
    display: flex;
    position: relative;
    p{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}
.content{
    width: 195px;
    max-height: 366px;
    text-align: center;
    background-color: white;
    padding: 25px 15px;
    transition: all 0.3s ease;
    &_img{
        height: 150px;
        width: 150px;
        text-align: center;
        margin: auto;
        img{
            height: auto;
            width: auto;
            margin: auto;
        }
    }
    &_pblack{
        margin-top: 10px;
        font-weight: bold;
    }
    &_pgreen{
        color: green;
    }
    &_pgray{
        color: gray;
    }
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
}

.btn{
    position: absolute;
    top: 50%;
    margin-top: -75px;
    right: 0;
    cursor: pointer;
    z-index: 2;
    button{
        transition: 0.6s ease;
        min-width: 45px;
        height: 100px;
        border-radius: 5px;
        font-size: 80px;
        font-weight: bold;
        color: black;
        border: 1px solid white;
        line-height: 0;
        padding: 0px;
        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }
}

.wholeCarousel{
    width: 100%;
}