<div class="electroniccontent">

    <div class="edcontent" [routerLink] = "['/addtocart']">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m5.jpeg">
        </div>
        <p class="edcontent_pblack">Realme C12 (Power S...</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4.1</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (7,694)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;3,099 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;6,050</del>
            </span>
            <span class="fbold cgreen fsix">48% off</span>
        </p>
    </div>

    <div class="edcontent">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m3.jpeg">
        </div>
        <p class="edcontent_pblack">Motorola Edge+ (Thumde...</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4.4</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (117,694)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;100,099 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;1,050</del>
            </span>
            <span class="fbold cgreen fsix">20% off</span>
        </p>
    </div>

    <div class="edcontent">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m4.jpeg">
        </div>
        <p class="edcontent_pblack">POCO M2 Pro(Two Shad...</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4.2</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (127,000)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;13,099 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;6,050</del>
            </span>
            <span class="fbold cgreen fsix">48% off</span>
        </p>
    </div>

    <div class="edcontent">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m6.jpeg">
        </div>
        <p class="edcontent_pblack">OPPO Reno3 Pro (Sky W...</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (12,345)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;23,567 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;6,050</del>
            </span>
            <span class="fbold cgreen fsix">10% off</span>
        </p>
    </div>

    <div class="edcontent">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m7.jpeg">
        </div>
        <p class="edcontent_pblack">Samsung Galaxy S20 Ultra</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4.1</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (7,694)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;3,099 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;6,050</del>
            </span>
            <span class="fbold cgreen fsix">48% off</span>
        </p>
    </div>

    <div class="edcontent">
        <div class="edcontent_img">
            <img class ="img-fluid" src="assets/img/mbl/m8.jpeg">
        </div>
        <p class="edcontent_pblack">Infinix Hot 9 (Violet, 64 G...</p>
        <p class="d-a edcontent_p2">
            <span class="ratee d-a mr-2"> 
                <span class="ml-1"> 4.1</span>
                <mat-icon class="feigtn ratee_icon">star</mat-icon>
            </span> 
            <span class="fbold cgray"> (7,694)</span>
        </p>
        <p>
            <span class="fbold feigtn mr-1">&#x20B9;3,099 </span>
            <span class="fbold cgray fsix mr-2"> 
                <del>&#x20B9;6,050</del>
            </span>
            <span class="fbold cgreen fsix">48% off</span>
        </p>
    </div>
   
  
    
</div>