<div class="container login">
    <div class="row login_row">


        <div class="col-5 login_row_colleft">
            <h1>Login</h1>
            <p>Get access to your Orders, wishlist and Recommendations</p>
        </div>


        <div class="col-7 login_row_colright">
            <form [formGroup]="loginForm" >
                <p>
                    <mat-form-field appearance="legacy" class="w1">
                        <mat-label>Enter Email/Mobile number</mat-label>
                        <input matInput formControlName="email" type="email">
                        <mat-error *ngIf="loginForm.get('email').errors?.required">
                            email Name Is Required
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email').errors?.email">
                            Email Should be In This Format ( John@gmail.com )
                        </mat-error>
                    </mat-form-field>
                </p> 
                <p> 
                    <mat-form-field appearance="legacy" class="w1">
                        <mat-label>Enter Password</mat-label>
                        <input matInput formControlName="password" type="password">
                        <mat-error *ngIf="loginForm.get('password').errors?.required">
                            Password Is Required
                        </mat-error>
                        
                        <span matSuffix class="cblue">Forgot?</span>
                    </mat-form-field>
                </p>
                <p>
                    <button [disabled]="loginForm.invalid" (click)="submit(loginForm.value)" mat-stroked-button class="w1 login_row_colright_b1">Login</button>
                </p>
                <p class="cgray">OR</p>
                <p>
                    <button mat-stroked-button class="w1 login_row_colright_b2">Request OTP</button>
                </p>
                <p class="cblue signup" [routerLink]= "['/signup']" mat-dialog-close >New to Flipkart? Create an account</p>
    
            </form>
        </div>
    </div>
    <button class="close" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
    </button>
</div>
