<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-8 pl-5">
            <span>Policies: </span>
            <span>Return Policy </span> | 
            <span>Terms of use </span> | 
            <span>Security </span> | 
            <span>Privacy </span> | 
            <span class="mr-5">Infringement </span>
            <span>&copy; 2007-2021 Flipkart.com</span>
        </div>
        <div class="col-4">
            <span>Need help? Visit the </span>
            <span class="blue">Help Center </span>
            <span>or </span>
            <span class="blue">Contact Us</span>
        </div>
    </div>
</div>