
<div class="sh" >
    <ul class="sh_ul">
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Electronics <mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">TVs & Appliances<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Men<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Women<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Baby & Kids<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Home & Furniture<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li" (click)="display == 'hide'? display = 'show' : display = 'hide'">Sports, Books & More<mat-icon>expand_more</mat-icon></li>
        <li class="sh_ul_li">Flights</li>
        <li class="sh_ul_li">Offer Zone</li>
    </ul>
    <div class="sh_electronics mat-elevation-z2" [ngClass]= display>
        <div class="row">
            <div class="col">
                <h4 [routerLink] = "['/product']" >Mobiles</h4>
                <ul>
                    <li>Mi</li>
                    <li>Realme</li>
                    <li>Samsung</li>
                    <li>Infinix</li>
                    <li>OPPO</li>
                    <li>Apple</li>
                    <li>Vivo</li>
                    <li>Honar</li>
                    <li>Asus</li>
                    <li>Poco X2</li>
                    <li>realme Nazro 10</li>
                    <li>Infinix Hot 9</li>
                    <li>IQOO 3</li>
                    <li>iPhone SE</li>
                    <li>Motorola razr</li>
                    <li>realme Narro 10A</li>
                    <li>Motorola g8 power lite</li>
                </ul>
            </div>
            <div class="col">
                <h4>Mobile Accessories</h4>
                <ul>
                    <li>Mobile Cases</li>
                    <li>Headphones & Headsets</li>
                    <li>Power Banks</li>
                    <li>Screenguards</li>
                    <li>Memory Cards</li>
                    <li>Smart Headphones</li>
                    <li>Mobile Cables</li>
                    <li>Mobile Chargers</li>
                    <li>Mobile Holders</li>
                </ul>
                <h4>Smart Wearable Tech</h4>
                <ul>
                    <li>Smart Watches</li>
                    <li>Samart Glasses (VR)</li>
                    <li>Smart Bands</li>
                </ul>
                <h4>Health Care Appliances</h4>
                <ul>
                    <li>Bp Monitors</li>
                    <li>Weighing Scale</li>
                </ul>
            </div>
            <div class="col">
                <h4>Laptops</h4>
                <ul>
                    <li>Gaming Laptops</li>
                </ul>
                <h4>Desktop PCs</h4>
                <h4>Gaming & Accessories</h4>
                <h4>Computer Accessories</h4>
                <ul>
                    <li>External Hard Disks</li>
                    <li>Pendrives</li>
                    <li>Laptop Skins & Decals</li>
                    <li>Laptop Bags</li>
                    <li>Mouse</li>
                </ul>
                <h4>Computer Peripherals</h4>
                <ul>
                    <li>Printers & Ink Cartridges</li>
                    <li>Monitors</li>
                </ul>
                <h4>Tablets</h4>
                <ul>
                    <li>Apple iPads</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>Televisions</li>
                </ul>
                <h4>Speakers</h4>
                <ul>
                    <li>Home Audio Speakers</li>
                    <li>Home Theatres</li>
                    <li>Soundbars</li>
                    <li>Bluetooth Speakers</li>
                    <li>DTH Set Top Box</li>
                </ul>
                <h4>Smart Home Automation</h4>
                <ul>
                    <li>Google Nest</li>
                </ul>
                <h4>Camera</h4>
                <ul>
                    <li>DSLR & Mirrorless</li>
                    <li>Compact & Bridge Cameras</li>
                    <li>Sports & Action</li>
                </ul>
                <h4>Camera Accessories</h4>
                <ul>
                    <li>Lens</li>
                    <li>Tripods</li>
                </ul>
                <h4>Network Components</h4>
                <ul> 
                    <li>Routers</li>
                </ul>
            </div>
            <div class="col">
                <h4>Features</h4>
                <ul>
                    <li>Google Assistant Store</li>
                    <li>Laptops on Buyback Guarantee</li>
                    <li>Flpikart SmartBuy</li>
                    <li>Li-Polymer Power Banks</li>
                    <li>Sony PS4 Pro & Slim</li>
                    <li>Apple Products</li>
                    <li>Microsoft Store</li>
                    <li>Lenovo Phab Series</li>
                    <li>JBL Speakers</li>
                    <li>Smartphones On Buyback Guarantee</li>
                    <li>Philips</li>
                    <li>Dr. Morepen</li>
                    <li>Complete Mobile Protection</li>
                    <li>Mobiles No Cost EMI</li>
                    <li>Huawei Watch Gt 2e Smart Watch</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
