<div class="addtocart">
    <app-nav></app-nav>
    <app-sub-header></app-sub-header>
    <div class="addtocart_cnt">
        <div class="row addtocart_cnt_row">

<!-- LEFT CONTENT DISPLAY SELECTED PRODUCT -->
            <div class="col-5 addtocart_cnt_row_col">
                <div class="positn">
                    <div class="addtocart_cnt_row_col_top">
                        <img class="img-fluid" src="assets/img/realme.jpeg">
                    </div>
                    <div class="addtocart_cnt_row_col_button">
                        <button mat-stroked-button class="addtocart_cnt_row_col_button_b1" [routerLink] = "['/cart']" >
                            <mat-icon>shopping_cart</mat-icon> ADD TO CART
                        </button>
                        <button mat-stroked-button class="addtocart_cnt_row_col_button_b2">
                            <mat-icon>flash_on</mat-icon> BUY NOW
                        </button>
                    </div>
                </div>
            </div>

            
<!-- RIGHT CONTENT DESCRIPTION OF THE PRODUCT  -->
            <div class="col-7 addtocart_cnt_row_right">
                <div class="d-flex justify-content-between cgray">
                    <span class="ftwe">Home > Mobile & Accessories > Mobiles > Realme C12</span>
                    <span class="d-a">
                        <input type="checkbox" class="mr-2">
                        Compare
                        <mat-icon class="addtocart_cnt_row_right_icon1">
                            reply
                        </mat-icon>
                        Forward
                    </span>
                </div>
                <h3 class="mb-2">Realme C12 (Power Silver, 32 GB) (3 GB RAM)</h3>
                <div class="d-a mb-3">
                    <span class="badge badge-success ">4.4
                        <mat-icon class="fsix">star</mat-icon>
                    </span>
                    <span class="cgray fbold mr-3"> 1,93,163 Ratings & Reviews </span>
                    <img src="assets/img/assured.png" alt="">
                </div>
                <span class="cgreen fbold">
                    Extra &#x20B9;2500 0ff
                </span>
                <div class="d-a fbold my-2">
                    <span class="fteight mr-2">&#x20B9;8,499</span>
                    <span class="cgray fsix mr-2">
                        <del> &#x20B9;10,999</del>
                    </span>
                    <span class="cgreen fsix mr-2">
                        22% off
                    </span>
                    <mat-icon class="fsix cgray">
                        info
                    </mat-icon>
                </div>
                <p class="fbold fsix mt-3">Available offers</p>
                <div>
                    <p class="d-a">
                        <mat-icon class="cgreen feight mr-3">
                            local_offer
                        </mat-icon>
                        <span class="fbold">Bank Offer </span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card
                        <span class="cblue"> T&C</span>
                    </p>

                    <p class="d-a">
                        <mat-icon class="cgreen feight mr-3">
                            local_offer
                        </mat-icon>
                        <span class="fbold">Special Price </span> Extra &#x20B9;2500 off (price inclusive of discount)
                        <span class="cblue"> T&C</span>
                    </p>

                    <p class="d-a">
                        <mat-icon class="cgreen feight mr-3">
                            today
                        </mat-icon>
                        <span class="fbold">No cost EMI &#x20B9;1,417/month. </span> Standard EMI also available <span
                            class="cblue"> View Plans ></span>
                    </p>
                </div>

                <div class="addtocart_cnt_row_right_card">
                    <div class="card addtocart_cnt_row_right_card_c1">
                        <div>
                            <mat-radio-button value="1">Buy without Exchange</mat-radio-button>
                        </div>
                        <div>
                            <span class="fbold">&#x20B9;8,499</span>
                        </div>
                    </div>
                    <div class="card addtocart_cnt_row_right_card_c2">
                        <div>
                            <mat-radio-button value="1">Buy with Exchange</mat-radio-button>
                        </div>
                        <div>
                            <span class="fbold">up to &#x20B9;7,950 off</span>
                        </div>
                    </div>
                </div>

                <img src="assets/img/realmebrand.jpg" class="mr-3"> <span>Brand warranty of 1 Year Available for Mobile and 6 Months for Accessories <span class="cblue fbold"> Know More</span></span>

                <div class="clr">
                    <div class="clr_widt">
                        color
                    </div>
                    <div class="clr_img">
                        <img src="assets/img/m5.jpeg">
                        <img src="assets/img/realme.jpeg">
                    </div>
                </div>

                <div class="clr">
                    <div class="clr_widt">
                        Delivery
                    </div>
                    <div>
                        <mat-form-field appearance="legacy">
                            <input matInput placeholder="Enter Pincode">
                        </mat-form-field>
                        <p class="fbold">Delivery in 2 Days, Sunday</p>
                        <span class="cblue">View Details</span>
                    </div>
                </div>

                <div class="clr">
                    <div class="clr_widt">
                        Highligths
                    </div>
                    <div class="clr_ul">
                       <ul>
                           <li>3 GB RAM | 32 GB ROM | Expandable Upto 256 GB</li>
                           <li>16.56 cm (6.52 inch) HD+ Display</li>
                           <li>13MP + 2MP | 5MP Front Camera</li>
                           <li>600 mAh Lithium Battery</li>
                           <li>Mediatek Hello G35 Processor</li>
                       </ul>
                    </div>
                </div>

                <div class="clr">
                    <div class="clr_widt">
                        Seller
                    </div>
                    <div class="clr_ul">
                        <span class="cblue fbold">
                            Vision Star
                        </span>
                       <ul>
                           <li>7 Days Replacement Policy</li>
                           <li>GST invoice available</li>
                       </ul>
                    </div>
                </div>

                <div class="clr">
                    <div class="clr_widt">
                        Easy Payment Options
                    </div>
                    <div class="clr_ul">
                       <ul>
                           <li>No cost EMI starting from &#x20B9;1,417/month</li>
                           <li>cash on Delivery</li>
                           <li>Net Banking & Credit/Debit/ATM card</li>
                       </ul>
                       <span class="cblue fbold">
                           View Details
                       </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <app-footer></app-footer>
</div>