<div class="footwarecontent">

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/31.jpeg">
        </div>
        <p class="fcontent_pblack">Lee Cooper</p>
        <p class="fcontent_pgreen">Min 40% Off</p>
        <p class="fcontent_pgray">Men's Casual Footware</p>
    </div>
    
    
    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/32.jpg">
        </div>
        <p class="fcontent_pblack">Puma</p>
        <p class="fcontent_pgreen">40-70% Off</p>
        <p class="fcontent_pgray">Men's Footware</p>
    </div>
    
    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/33.jpeg">
        </div>
        <p class="fcontent_pblack">Nike, ADIDAS & more</p>
        <p class="fcontent_pgreen">Explore More!</p>
        <p class="fcontent_pgray">Premium Sports Shoes</p>
    </div>

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/34.jpeg">
        </div>
        <p class="fcontent_pblack">Campus, Yonex & more</p>
        <p class="fcontent_pgreen">From &#x20B9;499</p>
        <p class="fcontent_pgray">Sports Shoes</p>
    </div>

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/35.jpeg">
        </div>
        <p class="fcontent_pblack">Nike, ADIDAS & more</p>
        <p class="fcontent_pgreen">Explore More!</p>
        <p class="fcontent_pgray">Sports, Casual Shoes</p>
    </div>

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/36.jpeg">
        </div>
        <p class="fcontent_pblack">Puma & FILA</p>
        <p class="fcontent_pgreen">Min 40% Off</p>
        <p class="fcontent_pgray">Sports Shoes & more</p>
    </div>

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/37.jpeg">
        </div>
        <p class="fcontent_pblack">Sparx, Paragon, Khadim's</p>
        <p class="fcontent_pgreen">From &#x20B9;149</p>
        <p class="fcontent_pgray">Sandals, Slippers & more</p>
    </div>

    <div class="fcontent">
        <div class="fcontent_img">
            <img src="assets/img/38.jpeg">
        </div>
        <p class="fcontent_pblack">Puma</p>
        <p class="fcontent_pgreen">Min 40% Off</p>
        <p class="fcontent_pgray">Men's Footware</p>
    </div>
    
  
    
</div>






