<div class="launches">
    <img  class="img-fluid" src="assets/img/mbl/h2.png">
</div>
<div class="launches-img">
    <img  class="img-fluid" src="assets/img/mbl/h2m1.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m2.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m3.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m4.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m5.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m6.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m7.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m2.png">
    <img  class="img-fluid" src="assets/img/mbl/h2m4.png">
</div>
