<div class="signup">
    <div class="container">
        <h1>SIGN UP</h1>
        <form [formGroup]="signupForm">
            <p>
                <mat-form-field appearance="outline" class="w1">
                    <mat-label>First Name</mat-label>
                    <input matInput required formControlName="firstName">
                    <mat-error *ngIf="signupForm.get('firstName').errors?.required">
                        First Name Is Required
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="w1">
                    <mat-label>Last Name</mat-label>
                    <input matInput required formControlName="lastName">
                    <mat-error *ngIf="signupForm.get('lastName').errors?.required">
                        Last Name Is Required
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="w1">
                    <mat-label>Enter Email/Mobile number</mat-label>
                    <input matInput required formControlName="email" >
                    <mat-error *ngIf="signupForm.get('email').errors?.required">
                        email Name Is Required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').errors?.email">
                        Email Should be In This Format ( John@gmail.com )
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="w1">
                    <mat-label>Password</mat-label>
                    <input matInput required formControlName="password" [type]="hide ?'text' :'password'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ?  'visibility'  :'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="signupForm.get('password').errors?.required">
                        Password Name Is Required
                    </mat-error>
                </mat-form-field>
            </p>
        </form>
        <button mat-stroked-button (click)="submit(signupForm.value)" [disabled]="signupForm.invalid" class="btn">Sign Up</button>

    </div>
</div>