<div class="checkout">
    <app-headercheckout></app-headercheckout>

    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col-8 checkout_left">
                <div class="card checkout_left_content">
                    <div class="checkout_left_content_top">
                        <span class="checkout_left_content_top_span1">1</span>
                        <span class="checkout_left_content_top_span2"> LOGIN OR SIGNUP</span>
                    </div>
                    <div class="checkout_left_content_b">
                        <div class="row checkout_left_content_b_row">
                            <div class="col-6 checkout_left_content_b_row_left">
                                <p class="checkout_left_content_b_row_left_input">
                                    <mat-form-field appearance="legacy">
                                        <input matInput placeholder="Enter Email/Mobile Number">
                                    </mat-form-field>
                                </p>
                                <p>By continuing you agree to Flipkart's <span>Terms Of USe </span> and <span>Privacy
                                        Policy</span></p>
                                <button mat-stroked-button>CONTINUE</button>

                            </div>
                            <div class="col-6 checkout_left_content_b_row_right">
                                <p class="cgray">Advantage of our Secure Login</p>
                                <p class="d-flex align-items-center">
                                    <mat-icon>local_shipping</mat-icon><span>Easily Track Orders, Hassle free
                                        Returns</span>
                                </p>
                                <p class="d-flex align-items-center">
                                    <mat-icon>notifications</mat-icon><span>Get Relevent Alerts and
                                        Recommendation</span>
                                </p>
                                <p class="d-flex align-items-center">
                                    <mat-icon>star_rate</mat-icon><span>Wishlist, Reviews, Ratings and more</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card common">
                    <span class="cblue">2 </span>
                    <span>DELIVERY ADDRESS</span>
                </div>
                <div class="card common">
                    <span class="cblue">3 </span>
                    <span>ORDER SUMMARY</span>
                </div>
                <div class="card common">
                    <span class="cblue">4 </span>
                    <span>PAYMENT OPTIONS</span>
                </div>
            </div>
            <div class="col-4 checkout_right d-flex align-items-center pt-5">
                <mat-icon class="mr-2">verified_user</mat-icon>
                <span>Safe and Secure Payments. Easy returns. 100% Authentic products.</span>
            </div>
        </div>
    </div>

    <app-footercheckout></app-footercheckout>
</div>